body {
  background-color: white;
  margin: 0px;
  overflow: hidden;
}
.form {
  padding-right: 15px;
  padding-bottom: 5px;
  max-width: 20%;
  position: absolute;
  top: 100px;
}
header {
  z-index: 50;
  position: absolute;
  height: 64;
  width: 100%;
}

#block1 {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  max-width: 25%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: left;
  float: left;
}
.datas {
  padding-right: 15px;
  padding-bottom: 5px;
  border: 1px solid black;
  border-bottom: none;
  border-right: none;
  max-width: 20%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
}
.infos {
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 5px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  max-width: 20%;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
}
